<include file="./Application/Home/View/header.html" />
<div id="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb" style="margin-top:30px;">
                    <li>
                        <a href="#">心情小镇</a>
                        <span class="divider">/</span>
                    </li>
                    <li class="active">
                        心情小镇
                    </li>
                    <li class="pull-right search-wrap">
                        <form action="search_result.html" class="hidden-phone">
                            <div class="input-append search-input-area">
                                <input class="" id="appendedInputButton" type="text">
                                <button class="btn" type="button"><i class="iconfont icon-sousuo1"></i> </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget blue">
                    <div class="widget-title">
                        <h4>心情小镇</h4>
                    </div>
                    <div class="widget-body">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">心情标签</label>
                                <div class="controls">
                                    <input type="text" placeholder="请输入你此刻的心情" class="input-large tag" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">为心情选个logo</label>
                                <div class="controls">
                                    <select class="input-large m-wrap logo" tabindex="1">
                                        <option value="icon-yinle">音乐</option>
                                        <option value="icon-dianying">电影</option>
                                        <option value="icon-shuyeu">四叶草</option>
                                        <option value="icon-huahui">鲜花</option>
                                        <option value="icon-zhifeiji">纸飞机</option>
                                        <option value="icon-icon_dingtalk_line">翅膀</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">为心情选个颜色</label>
                                    <div class="controls">
                                        <select class="input-large m-wrap color" tabindex="1">
                                            <option value="green">绿色</option>
                                            <option value="purple">紫色</option>
                                            <option value="red">粉色</option>
                                            <option value="yellow">黄色</option>
                                            <option value="blue">蓝色</option>
                                            <option value="orange">橘色</option>
                                        </select>
                                    </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">心情畅言</label>
                                <div class="controls">
                                    <textarea class="input-xxlarge talk" rows="3" placeholder="为心情畅言一番吧..." style="height:200px;"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary submit">确定</button>
                                <button type="button" class="btn btn-warning">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <include file="./Application/Home/View/footer.html" />
        <script>
            $('.submit').on('click',function(){
                var tag = $('.tag').val();
                var logo = $('.logo').val();
                var color = $('.color').val();
                var content = $('.talk').val();
                var date = new Date();
                var year = date.getFullYear(),month = date.getMonth()+1, day = date.getDate(),hour = date.getHours()
                ,minutes = date.getMinutes(),seconds = date.getSeconds();
                if(month<10){
                    month ='0'+ month;
                }else if(day<10){
                    day = '0'+day;
                }else if(hour<10){
                    hour = '0'+hour;
                }else if(minutes<10){
                    minutes = '0'+minutes;
                }else if(seconds<10){
                    seconds = '0'+seconds;
                }
                var time = year+ '-' + month + '-' +day + '-' +' '+hour+':'+minutes+':'+seconds;
                if(tag == '' || content == ''){
                    layer.alert("所有项均不能为空！");
                    // console.log(tag+logo+color+content);
                    return;
                }else{
                    $.ajax({
                        type: 'post',
                        url: '__ROOT__/Home/Mood/add',
                        data: {
                            tag: tag,
                            logo: logo,
                            color: color,
                            content: content,
                            time:time
                        },
                        dataType: 'json',
                        success: function(res){
                            console.log(res);
                            layer.msg('发表成功！', {icon: 6});
                            $('.tag').val('');
                            $('.talk').val('');
                        },
                        error: function(err){
                            console.log(err);
                            layer.msg('发表失败', {icon: 5});
                        }
                    })
                }
            })
        </script>